{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
       
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Dashboard</i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bills</li>
                    </ol>
                </nav>
            </div>
           
        </div>
        
      
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <div class="position-relative">
                        <input type="text" class="form-control ps-5 radius-30" placeholder="Search Bill"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                    </div>
                  
                </div>
                <div class="text-center mb-2">

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe }}
                                </div>
                            {% elif message.tags == 'info' %}
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% elif message.tags == 'warning' %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    </div>
               
                {% if bills %}
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Price(ksh)</th>
                                <th>Total Amount(ksh)</th>
                                <th>A/C Payable</th>
                                <th>Status</th>
                                <th>Date Received</th>
                                <th>Invoice</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in bills %}
                            <tr>
                                
                                <td>{{ bill.order.order_number }}</td>
                                <td>{{ bill.order.product }}</td>
                                <td>{{ bill.receiving.quantity }} ({{bill.order.product.unit}}s)</td>
                                <th>{{bill.receiving.price}}</th>
                                <td>{{bill.total_amount}}</td>
                                <th>{{bill.order.supplier.name}}</th>
                                <td>
                                    {% if order.status %}
                                    <div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">
                                        <i class='bx bxs-circle align-middle me-1'></i>Received</div>
                                    {% else %}
                                    <div class="badge rounded-pill text-warning bg-light-warning p-2 text-uppercase px-3">
                                        <i class='bx bxs-circle align-middle me-1'></i>Pending</div>
                                    {% endif %}
                                    
                                </td>
                                <td>{{ bill.receiving.received_on }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm radius-30 px-4" href="{% url 'inventory:generate_invoice' bill.id %}">Generate</a>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="title text-center">No Orders Found</p>
            {% endif %}
            
                
            </div>
        </div>


    </div>
</div>

{% endblock content %}
