{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
           
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Dashboard</i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{branch.company.name}}</li>
                        <li class="breadcrumb-item active" aria-current="page">Add Warehouse</li>
                    </ol>
                </nav>
            </div>
           
        </div>
        <!--end breadcrumb-->
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h6 class="mb-4 text-center mt-2">Add Warehouse</h6>
               
                <div class="card">
                    <div class="card-body">
                        <form class="row g-3" method="post">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="id_name" class="form-label">Warehouse Name</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_country" class="form-label">Country</label>
                                {{ form.country }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_county" class="form-label">County</label>
                                {{ form.county }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_city" class="form-label">City</label>
                                {{ form.city }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_phone" class="form-label">Phone</label>
                                {{ form.phone }}
                            </div>
                            <div class="col-md-6">
                                <label for="id_email" class="form-label">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-12">
                                <label for="id_email" class="form-label">Branch</label>
                                {{ form.branch }}
                            </div>
                            <div class="form-row text-center">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--end row-->
    </div>
</div>

{% endblock content %}
